<div class="row">
  <div class="span12"> 
  	<div class="hero-unit">
	  
	 	 <h1>Welcome to Ravi's Rails Project</h1>
	  		<p>
	  			What the tussi are you doing sirji?
	  			<%= link_to "one month rails" ,"http://www.onemonthrails.com" %>
	  		</p>
			<p>
			<%= link_to "Sign Up Now" ,"#",class: "btn btn-primary btn-large" %>
			</p>
			
	  
	 </div>
	</div>
</div>






